<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>修改节点属性</title>

    <script>
        function t1() {
            var email = document.getElementsByName('email')[0];
            alert("邮件地址："+email.value);
        }

        function t2() {
            var email = document.getElementsByName('email')[0];
            if (email.value == '') {
                email.value = "请输入邮箱";
            }
        }
        function t3() {
            var email = document.getElementsByName('email')[0];
            email.type = 'radio';
        }
    </script>
</head>
<body>
    <p>
        <input type="text" name="email" value=""/>
    </p>
    <p>
        <input type="button" value="邮件地址" onclick="t1()"/>
    </p>
    <p>
        <input type="button" value="检查邮件地址" onclick="t2()"/>
    </p>
    <p>
        <input type="button" value="变成radio" onclick="t3()"/>
    </p>
</body>
</html>