<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tab切换</title>

    <script>
        function tab(tip) {
            var tag = document.getElementsByClassName('tab')[0];
            var tagP = tag.getElementsByTagName('p');
            var itemCount = tagP.length;
            for (i=0; i<itemCount; i++) {
                var element = tagP[i];
                if (element.id == tip) {
                    element.style.display = 'block';
                } else {
                    element.style.display = 'none';
                }
            }
        }
    </script>

    <style type="text/css">
        ul {
            width: 300px;
            height: 30px;
        }
        li {
            float: left;
            list-style: none;
            margin: 5px;
        }
        p {
            width: 200px;
            height: 200px;
            border: solid 1px blue;
        }
        #news,#people,#tech,#other {
            display: none;
        }

    </style>
</head>
<body>
<div class="tab">
    <ul>
        <li onmouseover="tab('mil')">军事</li>
        <li onmouseover="tab('news')">新闻</li>
        <li onmouseover="tab('people')">人物</li>
        <li onmouseover="tab('tech')">科技</li>
        <li onmouseover="tab('other')">其他</li>
    </ul>
    <p id="mil">军事频道</p>
    <p id="news">新闻频道</p>
    <p id="people">人物频道</p>
    <p id="tech">科技频道</p>
    <p id="other">其他频道</p>
</div>
</body>
</html>